.testimonials {
  padding: 50px;
  text-align: center;
}

.testimonials_header  {
  margin-bottom: 20px;
}

.testimonials_header a {
  color: aqua;  
}

.testimonials_header h2 {
  margin-bottom: 20px;
}

.testimonials_images {
  text-align: center;
}

.testimonials_images {
  padding: 10px 20px;

}

.testimonials_blockquote  {
  font-style: italic;
}

.testimonials_sing h4 {
  color: aqua;
}

.testimonials_sing p {
  margin-bottom: 20px;
}

.testimonials_pagination {
    text-align: center;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
    border: 1px solid aqua;
    display: inline-block;
    padding: 50;
}


.cloud {
  padding: 20px;
}

.cloud_header {
  text-align: center;
}

.cloud_header p {
  color:#00ffff
}


.main {
 width: 45%;
 float: left;
 padding: 20px;
 margin :0 5px 5px 0;
 border: 1px solid #ccc;
 box-shadow: 16px 19px 29px -11px rgba(184, 153, 78, 0.74);
}
.main_image {
  float: left;
}

.main_image img {
  height: 125px;
  width: 100px;
  margin-right:20px ;
}